.aside_container {
    background-image: url(../img/fondo-oficina.webp);
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    min-height: 100vh;
    width: 100vw;
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline_card {
    display: flex; /* Cambia a flexbox */
    flex-direction: column; /* Alinea el título sobre el contenido */
    align-items: center; /* Centra el contenido */
    margin: 0 auto 10px; /* Espaciado entre los timelines */
    position: relative;
    height: max-content;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* evita que el contenido empuje la línea hacia afuera */
}

.timeline_title {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    text-align: center;
    max-width: 800px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.timeline_title h2 {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 38px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}


.timeline_title p {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

/* Oculta y muestra suavemente los textos dentro de timeline_card_text */
.timeline_card_text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* transition: 1s ease; */
}

/* Cuando está activo, se muestra */
.timeline_card_text.active {
    opacity: 1;
    max-height: 1000px; /* grande para que entre cualquier contenido */
}


.timeline_scale_wrapper {
    width: 100%;             /* ocupa el ancho disponible */
    display: flex;           /* mantiene centrado el timeline */
    justify-content: center;
    overflow: visible;       /* IMPORTANTÍSIMO */
}

/* breakpoints */
@media (max-width: 1100px) {
    .timeline_card {
        transform: scale(0.95);
    }
}

@media (max-width: 900px) {
    .timeline_card {
        transform: scale(0.85);
    }
}

@media (max-width: 700px) {
    .timeline_card {
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .timeline_card {
        transform: scale(1);
    }
}

.timeline {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    height: 0; /* Mantén la altura inicial */
    max-width: auto;
    opacity: 0; /* Mantén la opacidad inicial */
    overflow: hidden; /* Oculta el contenido cuando está cerrado */
    transition: opacity 0.6s ease-in, height 0.6s ease-in; /* Transición al cerrar */
}

.timeline::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--color-angular);
    top: 0;
    z-index: -1;
    animation-fill-mode: both;
    animation-play-state: paused;
}

/* Cuando está abierto */
.timeline.active {
    opacity: 1; /* Muestra el contenido */
    width: auto;
    height: max-content;
    overflow: visible;
    transition: opacity 0.9s ease-out, height 0.9s ease-out; /* Transición al abrir */
}

/* Cuando se abre, todos arrancan ocultos */
.timeline.active .timeline_container {
    opacity: 0;
    transform: translateX(-10%);
}

/* Y solo aparecen cuando JS agrega la clase */
.timeline.active .timeline_container.visible {
    opacity: 1;
    transform: translateX(0);
}


.timeline.animating::after {
  animation-name: moveline;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards; /* mantener el estado final mientras está abierto */
}

.timeline2.animating::after {
    animation-duration: 5s;
}

.timeline_container {
    position: relative;
    padding: 10px 5px;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-10%);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.timeline_container.visible {
    opacity: 1;
    transform: translateX(0);
}


@keyframes moveright {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.timeline_container img {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    left: calc((100% - 50%) - 25px);
    top: -25px;
    z-index: 10;
    background-color: white;
    border: 2px solid var(--rojo-primario);
}

.timeline_desc {
    display: flex;
    flex-direction: column;
    background-color: var(--timelines-box);/*Fondo con transparencia*/
    position: relative;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    font-size: clamp(12px, 1.6vw, 16px);
    padding: 20px 5px;
    max-width: 150px;
    height: 100%;
}
.timeline_desc h3 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.timeline_desc p, .timeline_desc small {
    color: #fff;
    font-family: "roboto", sans-serif;
    font-weight: 100;
}


.timeline_desc p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 300;
}

@keyframes moveline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.aside_container h2, .aside_container p, .aside_container h3, .aside_container small {
    color: #fff;
} 

.about_links svg {
    fill: #fff;
}

.about_links svg:hover {
    scale: 1.2;
}

.resume .timeline::after{
    display: none;
}

.resume .cta_btn a {
    color: #fff;
    border-color: #fff;
}

.resume .cta_btn a:hover {
    background-color: #fff;
    color: var(--rojo-primario);
}


@media screen and (max-width: 768px) {
    
    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        width: 0; /* Mantén la altura inicial */
        max-height: auto;
        left: 50%;
        opacity: 0; /* Mantén la opacidad inicial */
        overflow: hidden; /* Oculta el contenido cuando está cerrado */
        transition: opacity 0.6s ease-in, height 0.6s ease-in; /* Transición al cerrar */
    }

    .timeline::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: -50%;
        background-color: var(--color-angular);
        top: 0;
        z-index: -1;
        animation-fill-mode: both;
        animation-play-state: paused;
    }

    /* Cuando está abierto */
    .timeline.active {
        opacity: 1; /* Muestra el contenido */
        height: auto;
        width: max-content;
        overflow: visible;
        transition: opacity 0.9s ease-out, height 0.9s ease-out; /* Transición al abrir */
    }

    /* Cuando se abre, todos arrancan ocultos */
    .timeline.active .timeline_container {
        opacity: 0;
        transform: translateY(-10%);
    }

    /* Y solo aparecen cuando JS agrega la clase */
    .timeline.active .timeline_container.visible {
        opacity: 1;
        transform: translateY(0);
    }


    .timeline.animating::after {
      animation-name: moveline;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-play-state: running;
      animation-fill-mode: forwards; /* mantener el estado final mientras está abierto */
    }

    .timeline2.animating::after {
        animation-duration: 5s;
    }

    .timeline_container {
        position: relative;
        padding: 10px 30px;
        top: 0;
        left: -50%;
        opacity: 0;
        transform: translateY(-10%);
        transition: opacity .5s ease-out, transform .5s ease-out;
    }

    .timeline_container.visible {
        opacity: 1;
        transform: translateY(0);
    }


    @keyframes moveright {
        0% {
            opacity: 0;
            transform: translateY(-10%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .timeline_card_text {
        padding: 15px;
    }

    
    .timeline_container img {
        position: absolute;
        width: 50px;
        border-radius: 50%;
        top: calc((100% - 50%) - 25px);
        left: -25px;
        z-index: 10;
        background-color: white;
        border: 2px solid var(--rojo-primario);
    }

    .timeline_desc {
        display: flex;
        flex-direction: column;
        background-color: var(--timelines-box);/*Fondo con transparencia*/
        border: 1px solid var(--rojo-primario);
        position: relative;
        border-radius: 6px;
        text-align: center;
        align-items: center;
        font-size: clamp(12px, 1.6vw, 16px);
        /* padding: 20px 5px; */
        max-width: calc(75vw);
        height: 100%;
    }
    .timeline_desc h3 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .timeline_desc p, .timeline_desc small {
        color: #fff;
        font-family: "roboto", sans-serif;
        font-weight: 100;
    }


    .timeline_desc p {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 300;
    }

    @keyframes moveline {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }

    .resume .timeline::after{
        display: none;
        
    }

    .resume .timeline_container {
        max-width: 100vw;
        padding: 0;
    }
    
    .resume .timeline.animating {
        animation: none;
        left: calc(100% / 2);
        margin-left: 0;
    }

}