* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: visible;
}

body {
    overflow-x: hidden;
}

/* PALETA DE COLORES PARA EL PROYECTO */
:root {
    --rojo-primario: #dd1b16;
    --rojo-hover: #bb1512;
    --rojo-footer: #d75050;
    --rosa-form: #f06b6b;
    --blanco-texto: #fff;
    --blanco-opaco: #ffffffad;
    --timelines-box: #dd1d1674;
    --color-icons: #888;
    --color-sm: #111;
    --color-btn: #bc0505;
    --color-btn-hover: #2fee7e;
}

h1 {
    color: var(--rojo-primario);
}

h2 {
    color: var(--rojo-primario);
    font-family: "roboto";
    font-weight: 200;
    /* font-size: 26px; */
    font-size: clamp(1.4rem, 2.2vw, 2rem);
    text-transform: uppercase;
}

li {
    list-style: none;
}

a {
    color: var(--color-btn);
    text-decoration: none;
    font-family: "roboto", "montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cta_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta_btn a {
    color: var(--rojo-primario);
    border: 1px solid var(--rojo-primario);
    border-radius: 12px;
    padding: 10px 20px;
    font-size: clamp(1rem, 1.1vw, 2.5rem);
    transition: all .3s ease-in-out;
}

.cta_btn a:hover {
    background-color: var(--rojo-primario);
    color: #ffffff;
}


/* ===== SCROLL SALTANDO DE A 100vh - Cambio de página completo por sección ===== */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll_section {
    scroll-snap-align: start;
}




/* ===== SCROLL POR SECCIONES A PARTIR DE 1024px (notebooks, escritorio) ===== */

/* .scroll_container {
  scroll-snap-type: none;
} */

/* Desktop / notebook en adelante */

/* @media (min-width: 1024px) {
  .scroll_container {
    scroll-snap-type: y proximity;
  }

  .scroll_section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
} */