.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 10000;
    background-color: #ffffff;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 3px solid #111; */
    padding: 5px;  
    font-size: 1.04em;
    text-transform: uppercase;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}
/* Menú Desktop */
.nav_desktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_desktop ul li a {
    padding: 6px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}
.nav_desktop ul li a:hover {
    color: var(--rojo-hover);
    background-color: var(--rojo-footer);
    border-radius: 8px;
    color: #ffffff;
}

/* Menú Responsive */
.nav_mobile {
    display: none;
}

.nav_mobile input {
    display: none;
}

.nav_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.icon_open svg {
    right: 20px;
    top: 25px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.icon_close svg {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.nav_mobile .nav_container ul {
    text-align: center;
    margin-top: 3rem;
    padding: 0;
} 

.nav_container ul li {
    margin: 3.5rem;
}

.nav_container a {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: var(--rojo-primario);
    transition: all .3s ease;
} 
.nav_container a:hover {
    color: var(--rojo-hover);
}

.nav_container a:hover {
    color: var(--rojo-hover);
}

.toggle_nav_icon:checked {
    display: inline;
}
.toggle_nav:checked ~ .nav_container {
    transform: translateX(0%);
}

.body-lock {
    height: 100vh;
    overflow: hidden;
}

.nav_links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.nav_links svg {
    width: 40px;
    height: 40px;
    fill: var(--rojo-primario);
}

@media screen and (max-width: 768px) {
    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        display: block;
    }
}