#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;

    display: flex;
    justify-content: center;  /* centra vertical */
    align-items: center;       /* centra horizontal */
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    text-align: center;

    /* ELIMINAR ESTOS */
    height: auto; 
    transform: none;
}

/* Para demostrar comportamiento en móvil: reducimos padding del texto */
.hero-content h1 { 
    margin: 0 auto;
    text-transform: uppercase; 
    font-size: 40px; 
    color:#070707;
    font-family: "roboto";
    font-weight: 200;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;
}

.hero-content p {
    margin: 0 auto; 
    font-size: clamp(.9rem, 1.8vw, 1.1rem); 
    color:#080808;
    font-size: 26px; 
    font-family: "roboto";
    font-weight: 100;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;
}

.hero-content h1, .hero-content p {
    pointer-events: none;
}

.hero_btn {
    position: absolute;
    margin-top: 15rem;
    text-align: center;  
}

.hero_btn a {
    background-color: #fff;
}

@media (max-width: 768px) {
    .hero-content h1 {
      font-size: 45px;
      margin-bottom: 20px;
    }

    #tsparticles {
        display: none;
    }

    #hero {
      background: linear-gradient(120deg, #ffffff, #ffffff, #f19797);
      background-size: 400% 400%;
      animation: gradient 12s ease infinite;
    }

    @keyframes gradient {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .hero-content h1, .hero-content p {
        text-shadow: none;
        padding: 0 10px;
    }
    .hero-content h1 {
        font-size: 28px;
    }
    .hero-content p {
        font-size: 22px;
    }
}
